.link {
  text-decoration: none;
  color: #007bff;
  border-bottom: 1px solid transparent;
  transition: 0.5s ease-in-out;

  &:hover {
    color: #0667ce;
  border-bottom: 1px solid #0667ce;
  }
}


