* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #3b3f45;
  border: solid white 10px;
}
.header,
.footer {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #4a4f56;
}
.header {
  padding-bottom: 12px;
}
/* CSS Dinner Shopping List  */
.header-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  color: #ff8984;
  margin-bottom: 4px;
}
/* Let’s go to the mall!  */
.header-span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 6px;
  color: #ff8984;
}
/* Shopping list */
.shopping-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 635px;
  margin-left: 470px;
  margin-top: 20px;
}
/* list item background-color (paird number) */
.shopping-list div:nth-child(2n) {
  background-color: #88839e;
}
/* list item background-color (unpaird number) */
.shopping-list div:nth-child(2n + 1) {
  background-color: #9b96ac;
}
/* list item size */
.list-item {
  line-height: 3;
  width: 100%;
}
/* list item changing background-color after hover */
.shopping-list div:hover {
  background-color: #625e77;
}
/* appearing of white lines after hover */
.shopping-list div:hover::before, /* top line */
.shopping-list div:hover::after /* bottom line */ {
  content: "";
  display: block;
  height: 2px;
  background-color: white;
}

/* item labels text */
.item-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
/* list-item checkbox */
.item-input {
  transform: scale(2); /* size of checkbox square */
  margin: 17px;
}
/* Clicking on checkbox*/
.item-input:checked + .item-label {
  text-decoration: line-through; /* cross out the text */
  color: #e8e8e8ab; /* changing the color of the text on the lighter one */
}

/* clicking on any list item */
.shopping-list .list-item:active {
  background-color: rgba(
    240,
    107,
    107,
    0.5
  ); /* background color red, when active */
}

/* first item (for the next lessons about CSS) */
.label1::after {
  content: "(for the next lessons about CSS)";
  padding-left: 10px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
}
/* second item (for more CSS manipulations) */
.label2::after {
  content: "(for more CSS manipulations)";
  padding-left: 10px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
}

/* third item (because they are awesome) */
.label3::after {
  content: " (because they are awesome)";
  padding-left: 10px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
}

/* fourth item (hm... they always dissapear) */
.label4::after {
  content: "  (hm... they always dissapear)";
  padding-left: 10px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
}

/* sixth item  (for my friends) */

.label6::after {
  content: "   (for my friends)";
  padding-left: 10px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 635px;
  margin-left: 470px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 5;
}

/* Bon appetit :) */
.footer-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #ff8984;
  margin-top: 11px;
  margin-bottom: 11px;
}

/* HOMEPAGE */
a {
  color: wheat;
}
