* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #3b3f45;
  border: solid white 10px;
}

.header {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #4a4f56;
}
.header {
  padding-bottom: 12px;
}
/* CSS Dinner Shopping List  */
.header-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  color: #ff8984;
  margin-bottom: 4px;
}
/* Let’s go to the mall!  */
.header-span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 6px;
  color: #ff8984;
}
/* List */
.list-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.list {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  width: fit-content;
}
/* list item background-color (paird number) */
.list-item:nth-child(2n) {
  background-color: #88839e;
}
/* list item background-color (unpaird number) */
.list-item:nth-child(2n + 1) {
  background-color: #9b96ac;
}
/* list item size */
.list-item {
  line-height: 1;
  display: block;
  padding: 10px;
  padding-right: 120px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
/* list item changing background-color after hover */
.list-item:hover {
  background-color: #625e77;
  border-color: #fff;
}
/* labels text */
.list-text {
  font-size: 18px;
  color: #ffffff;
}

.list-text-little {
  font-size: 11px;
  color: #ffffff;
}
/* list-item checkbox */
.item-input {
  transform: scale(2); /* size of checkbox square */
  margin-right: 15px;
}
/* Clicking on checkbox */

.list-input:checked ~ .list-text-little {
  text-decoration: line-through; /* cross out the text */
  color: #e8e8e8ab; /* changing the color of the text on the lighter one  */
}

.list-input:checked + .list-text {
  text-decoration: line-through; /* cross out the text */
  color: #e8e8e8ab; /* changing the color of the text on the lighter one  */
}

/* clicking on any list item */
.list-item:active {
  background-color: rgba(
    240,
    107,
    107,
    0.5
  ); /* background color red, when active */
}

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer {
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
  flex-direction: column;
  width: 427px;
  background-color: #4a4f56;
  align-items: center;
}

/* Bon appetit :) */
.footer-text {
  font-size: 18px;
  font-weight: 400;

  color: #ff8984;
}

/* HOMEPAGE */
a {
  color: wheat;
}
