mixin blocks()
  .blocks 
    .blocks.blocks--item.blocks--design
        svg.icon.icon--block
            use(xlink:href='#icon-megaphone') 
        .blocks.blocks--heading Design
        .text.text--block Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros .
        a.link.link--block2 Learn more
    .blocks.blocks--item.blocks--ecommerce    
        svg.icon.icon--block
            use(xlink:href='#icon-building')
        .blocks.blocks--heading Ecommerce
        .text.text--block Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros .
        a.link.link--block2 Learn more
    .blocks.blocks--item.blocks--application
        svg.icon.icon--block
            use(xlink:href='#icon-phone')
        .blocks.blocks--heading Application
        .text.text--block Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros .
        a.link.link--block2 Learn more
    

    