:root {
  /* *Colors */
  --c-primary: #3db370;
  --c-white: #fff;
  --c-black: #2f281e;
  --c-blue: #16133D;
  /* * Fonts */
  --f-base: " Roboto", sans-serif;
  --f-quicksand: "Quicksand", sans-serif;
  --f-nunitosans: "Nunito Sans"
  /* * Font size */
  --fs-base: 16px;

}
