body {
    background-color: bisque;
    margin-top: 30px;
    
}

* {box-sizing: border-box;}

.header {
  width: 300px;
  margin: 0px auto 0;
  border: 5px solid rgb(156, 120, 75);
  position: relative;
  float: right;
  right: 315px;
  margin-bottom: 15px;
}

.header img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header h2 {
  margin: 0;
  color: white;
  line-height: 1.1;
  font-size: 1.2em;
  font-weight: 200;
  padding: 10px 20px 10px 10px;
  border-bottom-right-radius: 20px;
  background: rgb(156, 120, 75); 
  position: absolute;
  top: -4px;
  left: 0;

}

.name {
  font-family: "Open Sans", sans-serif;
  font-size: .7em;
}

.main {
  font-family: 'IBM Plex Serif', serif;
  font-weight: bolder;
  margin-left: 0px;
}

.about-me {
  color: bisque;
  display: block;
  max-width: fit-content ;
  background: rgb(228, 171, 102); 
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  position: static;
  margin-left: 0px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;  
  padding-bottom: 15px;    
}

.about-me h3 {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.skills {
  color: bisque;
  display: block;
  margin-top: 15px;
  max-width: fit-content ;
  background: rgb(203, 153, 91);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  position: static;
  margin-left: 0px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 15px;
}

.skills h3 {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.education {
  color: bisque;
  display: block;
  max-width: fit-content ;
  background: rgb(174, 131, 78);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  position: static;
  margin-left: 0px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 15px;
}

.education h3 {
  text-decoration: underline;
  text-underline-offset: 10px;

}

.footer {
  font-family: 'IBM Plex Serif', serif;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  background-color: rgb(156, 120, 75);
  margin-top: auto;
  padding: 20px;
  width: 100%;
  margin-bottom: 0px;
}



 

.footer h3 {
  margin: 0;
  color: bisque;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
  color: bisque;
}

.footer li {
  margin-bottom: 10px;
}

.footer a {
  text-decoration: none;
  color: rgb(9, 5, 5);
}

