.footer {
  &-wrapping {
    padding-top: 35px;
    padding-bottom: 60px;
    margin-left: 175px;
    transition: margin-left 0.50s ease-in-out; /* add a transition for a smooth animation */
    
  }

  @media (max-width: 768px) {
    &-wrapping {
      margin-left: 40px; /* при достижении ширины экрана 768px и менее устанавливаем margin-left в 0 */
    }
  }
}