:root {
  /* *Colors */
  --c-bc: #2685c4;
  --c-bcb: #1a5577;
  --c-white: white;
  --c-blue: #3399CC;
  --c-aquamarine: #33CCCC;
  --c-plump: #996699;
  --c-red: #C24747;
  --c-peach: #E2674A;
  --c-yellow: #FFCC66;
  --c-olive: #99CC99;
  --c-grey: #669999;
  --c-pink: #CC6699;
  --c-green: #339966;
  --c-violet: #666699;
  /* * Fonts */
  --f-base: "Roboto";
  /* * Font sizes */
  --fs-base: 16px;
  /* * Transitions */

}
