:root {
  /* *Colors */
  --c-primary: #ffcc00;
  --c-white: #fff;
  --c-black: #2f281e;
  --c-grey: #666666;
  --c-grey-1: #898f8f;
  /* * Fonts */
  --f-base: "Raleway", sans-serif;
  --f-roboto: "Roboto", sans-serif;
  /* * Font size */
  --fs-base: 14px;
  /* * Transitions */
  --t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
