.city {
  display: flex;
  gap: 10px;

  select {
    width: 200px; /* Ширина селектора */
    height: 30px; /* Высота селектора */
    border: 2px solid #ccc; /* Толщина, стиль и цвет границы */
    border-radius: 5px; /* Закругление углов */
    padding: 5px; /* Внутренние отступы внутри селектора */
    font-size: 14px; /* Размер шрифта */
  }
  select:focus {
    border-color: #007bff; /* Цвет границы при фокусе */
    outline: none; /* Убрать стандартное выделение */
  }
  select::-ms-expand {
  display: none; /* Убрать стрелку для IE/Edge */
  }

  select::after {
    content: '\25BC'; /* Символ стрелки вниз */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

