.city {
  display: flex;
  gap: 10px;
  padding-top: 10px;

  select {
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    height: 35px;
  }
  select:focus {
    border-color: #007bff;
    outline: none;
  }
  select::-ms-expand {
    display: none;
  }

  select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
