.photo-section {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 10px;

  &--photo {
    padding-right: 5px;
  }
  input[type='text'] {
    margin-top: 5px;
    width: 200px; 
    height: 30px; 
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px; 
  }
}
