.sign-up {
  border: 1px solid #0667ce;
  background-color: #007bff;
  font-weight: 500;
  color: #007bff;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-top: 12px;
  cursor: pointer;
  display: flex;
  width: 410px;
  height: 35px;
  transition: 0.5s ease-in-out;
  margin-top: 20px;
  margin-bottom: 20px;

  &:hover {
    background-color: #0667ce;
  }

  &--span {
    color: white;
  }
}
