.button {
  
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: var(--c-grey);
 

padding: 25px;
}

.button-link {
  padding-left: 10px;
  padding-right: 10px;
 border: 1px solid var(--c-primary);
 cursor: pointer;
}