.text-wrapper {
 padding-left: 100px;
  width: 50%;
}
.h2 {
  font-family: var(--f-roboto);
  font-size: 36px;
  font-weight: 900;
  color: var(--c-grey);
  line-height: 42px;
}

.span {
  font-family: var(--f-base);
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: var(--c-grey)
}
.p {
  font-family: var(--f-base);
  font-weight: 500;
  font-size: var(--f-base);
  line-height: 24px;
}