mixin footer()
  footer.footer 
    .footer.footer--wrapper 
      .footer.footer--logo-wrapper
          svg.icon.icon--clover
            use(xlink:href='#icon-clover')
          span.text.text--footer-logo Freehand
      .icon.icon--socials
        .icon.icon--footer-wrapper
          svg.icon.icon--socials
            use(xlink:href='#icon-instagram')
        .icon.icon--footer-wrapper
          svg.icon.icon--socials
            use(xlink:href='#icon-facebook')
        .icon.icon--footer-wrapper
          svg.icon.icon--socials
            use(xlink:href='#icon-github')
        .icon.icon--footer-wrapper
          svg.icon.icon--socials
            use(xlink:href='#icon-dribbble')
        .icon.icon--footer-wrapper
          svg.icon.icon--socials.icon--twitter
            use(xlink:href='#icon-twitter')




      

