mixin image
  .photo-wrapper
      .line.line--photo
        .line--photo--child.line--photo--child--1
        .line--photo--child.line--photo--child--2
        .line--photo--child.line--photo--child--3
        .line--photo--child.line--photo--child--4
        img.photo(src='./assets/sahariar.jpg' alt='Sahariar Kabir')
