mixin text()
  .text
    .line.line--text
    .text-wrapper
      h2.text-wrapper-child.text-wrapper-child--h2 Sahariar Kabir
      span.text-wrapper-child.text-wrapper-child--span Frontend Developer
      // social media svg
      .svg-social
        img(src='./assets/social.svg' alt='social')
      .text-wrapper-child.text-wrapper-child--p
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
          div
            | cursus dui sit amet ligula efficitur, sit amet lacinia massa
            | dictum.
          div
            | Etiam accumsan felis a nunc facilisis, ut euismod
            | lacus placerat.
          div
            | Praesent rutrum eget massa a convallis. Nam
            | vitae augue
          div  malesuada, accumsan mauris ut, consectetur.
      // *Button
      +button
    
      