mixin city 
  .city
      label
        .label Country
        select(name='country')
          option(value='' selected='' disabled='' hidden='') Select
          option(value='Ukraine') Ukraine
          option(value='France') France
          option(value='Turkey') Turkey
        div
      label
        .label City
        select(name='city')
          option(value='' selected='' disabled='' hidden='')
          option(value='vinnitsya') Vinnitsya
          option(value='kyiv') Kyiv
          option(value='ternopil') Ternopil
        div