mixin fourth-row
  .fourth-row
    label
      .label Zip Code
      input(type='password' name='password' required)
      .error This is a required field.
    label
      .label Phone Number
      input(type='number' name='phone-number' required)
      .error This is a required field.