mixin fourth-row
  .fourth-row
    label
      .zip-code Zip Code
      input#password(type='password' name='password')
      .error
    label
      .phone Phone Number
      input(type='number' name='phone-number')
      .error