mixin gender 
  .gender
      label.gender.gender--label
        .label Male
        input(type='radio' name='gender' value='male')
      label.gender.gender--label
        .label Female
        input(type='radio' name='gender' value='female')