mixin name 
  .name
        label
          .label First-name
          input(type='text' name='first-name')
          .error
        label
          .label Last-name
          input(type='text' name='last-name')
          .error
        label