mixin photo
  .photo-section
    img.photo-section--photo(src='./assets/photo.png' alt='photo')
    .photo-input
      label
        input(type='text' name='photo')
        // Вставка SVG иконки
        svg.icon.icon-photo
          use(xlink:href='#icon-photo')
        .sub-text.sub-text--2 Up to 1 MB (300x300 px)
      div
    svg.icon.icon-delete
      use(xlink:href='#icon-delete')