mixin photo
  .photo-section
    img.photo-section--photo(src='./assets/photo.png' alt='photo')
    .photo-input
      label
        input(type='file' name='file')
        
        svg.icon.icon-photo
          use(xlink:href='#icon-photo')
        .photo-section--sub-text Up to 1 MB (300x300 px)
      div
    svg.icon.icon-delete
      use(xlink:href='#icon-delete')