mixin second-row 
  .second-row
    label
      .label Name
      input(type='text' name='name' required)
      .error This is a required field.
    label
      .label E-mail
      input(type='email' name='email' required)
      .error This is a required field.
