mixin sub-text 
  .sub-text By clicking the 'Sign Up' button, you confirm that you accept our
      .link--wrapper
        a.link(href='http://' target='_blank' rel='noopener noreferrer') Terms of Use
        div and
        a.link(href='http://' target='_blank' rel='noopener noreferrer') Privacy Policy