mixin sub-text 
  p.text By clicking the 'Sign Up' button, you confirm that you accept our
    .sub-text
      a.link(href='http://' target='_blank' rel='noopener noreferrer') Terms of Use
      div and
      a.link(href='http://' target='_blank' rel='noopener noreferrer') Privacy Policy