:root {
  /* *Colors */
  --c-primary: #ff9900;
  --c-white: #fff;
  --c-black: #2f281e;
  --c-blue: #bcd0e5;
  /* * Fonts */
  --f-base: "Montserrat", sans-serif;
  --f-poppins: "Poppins", sans-serif;
  /* * Font size */
  --fs-base: 16px;
  /* * Transition */
  --t-origin: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

  --h-header: 80px;
}
